<body>
  <section id="section1" class="sect">
    <video autoplay muted loop id="myVideo" class="vid">
      <source src="../../assets/video/video1.mp4" type="video/mp4" />
    </video>
    <div class="content">
      <div class="text_content">
        <h1>TALLER TUKU</h1>
        <h2>El mejor servicio al mejor precio!</h2>
        <button class="button2">RESERVA CITA YA</button>
      </div>

    </section>

    <div class="content2" id="section-2">
		<div class="content2_fila">
			<div class="row">
				<div class="col-md-6">
					<img src="../../assets/img/amred.jpeg" class="amred">
				</div>
				<div class="col-md-6">
					<div class="col-md-5 p-lg-5 mx-auto my-5 "><br>
						<h1 class="display-4 fw-normal">Quienes somos</h1>
						<p class="lead fw-normal">Taller Tuku, tu taller de coches en Barcelona de confianza.<br>
                            Nos encontramos en Carrer de 1234, 62, 08014 Barcelona y contamos con más de 10 años de experiencia en el sector.
                            Reparamos todo tipo de coches tanto problemas mecánicos como problemas de electricidad.
                        </p>
            <a href="#"><button type="button" class="btn btn-outline-danger">Más información</button></a>
				</div>
			</div>
		</div>			
	</div>

      <a href="#section-2">
        <img class="scrolldown" src="../../assets/img/scroll-down.png" />
      </a>

    </div>
  </section>
  <section class="content2" id="section-2">
    <div class="content2_fila row">
      <div class="col-md-6">
        <img src="../../assets/img/amred.jpeg" class="amred">
      </div>
      <div class="col-md-6 col-lg-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 fw-normal">Quienes somos</h1>
        <p class="lead fw-normal">Taller Tuku, tu taller de coches en Barcelona de confianza.<br>
          Nos encontramos en Carrer de 1234, 62, 08014 Barcelona y contamos con más de 10 años de experiencia en el
          sector.
          Reparamos todo tipo de coches tanto problemas mecánicos como problemas de electricidad.
        </p>
        <a href="#"><button type="button" class="btn btn-outline-danger">Más información</button></a>
      </div>
    </div>
  </section>
</body>