* {
    font-family: "Anton", sans-serif;
    max-width: 100%;
    
  }
  
  body {
  font-family: "Anton", sans-serif;

  }


  
  h1 {
    text-align: center;
    color: #ff0000;
    font-size: 60px;
  }
  
  h2 {
    text-align: center;
    color: rgba(231, 1, 1, 0.973);

  }
  
  .splide__slide img {
    width: 100%;
    height: auto;
  }
  .content{
    padding: 10px;
    background-color: rgba(29, 29, 29, 0.822);

  }
  
  p{
    text-align: center;
    color: rgb(255, 255, 255);
  }
  
  