* {
    font-family: "Anton", sans-serif;
    max-width: 100%;
    
  }
  
  body {
    margin: 0;
    background-color: #212529;
    font-family: "Anton", sans-serif;
  }
  
  .sect {
    width: 100%;
    min-height: 100%;
    
  }
  
  .sect video {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    margin-top: 6.5%;
  
  }
  
  #sect1 {
    position: b;
    overflow: hidden;
    margin: none;
  }
  
  
  
  /* Banner */
  .content {
    text-align: center;
    margin: auto;
    margin-top: 15%;
    color: white;
  }
  
  h1 {
    text-align: center;
    color: #fff;
    font-size: 60px;
  }
  
  h2 {
    text-align: center;

  }
  
  .button2 {
    box-shadow: 0 0 10vw 0vw #fc8585, 0 0 2vw 0.4vw #e64d4d,
      inset 0 0 0.5vw 0.2vw #fc8585, inset 0 0 0.5vw 0.2vw #e64d4d,
      inset 0 0 0.5vw 0.2vw #ac0101;
    text-shadow: 0.1vw 0vw 0.25vw #fc8585, 0.15vw 0vw 0.25vw #fc8585,
      0.1vw 0vw 0.1vw #e64d4d, 0.15vw 0vw 0.1vw #e64d4d, 0.4vw 0vw 0.1vw #e64d4d,
      0.1vw 0vw 2vw #e64d4d, 0.15vw 0vw 2vw #e64d4d, 0.4vw 0vw 2vw #e64d4d,
      0.1vw 0vw 1vw #ac0101, 0.15vw 0vw 1vw #ac0101, 0.4vw 0vw 5vw #ac0101,
      0.1vw 0vw 5vw #ac0101, 0.15vw 0vw 20vw #ac0101, 0.4vw 0vw 10vw #ac0101,
      0.1vw 0vw 10vw #ac0101, 0.15vw 0vw 30vw #ac0101, 0.4vw 0vw 10vw #ac0101;
    animation: blinkBtn2 2s infinite alternate;
    margin: 2%;
  }
  
  .button2:hover {
    transform: scale(1.2);
  }
  
  
  
  
  /* scection2  */
  .content2 {
    height: 600px;
    background-color: #212529;
    color: white;
    text-align: center;
  }
  
  
  .container1 {
    padding: 200px;
    text-align: center;
    background-color: rgb(45, 45, 45);
    color: white;
  }
  
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.563em;
  }
  
  .button2 {
    position: relative;
    justify-content: center;
    align-items: center;
    padding: 1.625em 2.688em;
    border: none;
    /*   outline-color: transparent; */
    background: var(--clr-bkg);
    color: #f0f0f0e3;
    font-size: 2.125em;
    font-weight: 500;
    letter-spacing: 0.125em;
    text-transform: uppercase;
    border-radius: 50px;
    transition: transform 0.2s ease;
    cursor: pointer;
  }
  
  /* button 2 */
  
  @keyframes blinkBtn2 {
    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
      box-shadow: 0 0 10vw 0vw #fc8585, 0 0 2vw 0.4vw #e64d4d,
        inset 0 0 0.5vw 0.2vw #fc8585, inset 0 0 0.5vw 0.2vw #e64d4d,
        inset 0 0 0.5vw 0.2vw #ac0101;
      text-shadow: 0.1vw 0vw 0.25vw #fc8585, 0.15vw 0vw 0.25vw #fc8585,
        0.1vw 0vw 0.1vw #e64d4d, 0.15vw 0vw 0.1vw #e64d4d, 0.4vw 0vw 0.1vw #e64d4d,
        0.1vw 0vw 2vw #e64d4d, 0.15vw 0vw 2vw #e64d4d, 0.4vw 0vw 2vw #e64d4d,
        0.1vw 0vw 1vw #ac0101, 0.15vw 0vw 1vw #ac0101, 0.4vw 0vw 5vw #ac0101,
        0.1vw 0vw 5vw #ac0101, 0.15vw 0vw 20vw #ac0101, 0.4vw 0vw 10vw #ac0101,
        0.1vw 0vw 10vw #ac0101, 0.15vw 0vw 30vw #ac0101, 0.4vw 0vw 10vw #ac0101;
    }
    21%,
    24%,
    65% {
      box-shadow: none;
      text-shadow: none;
    }
  }
  
  
  
  footer {
    margin-top: -19px;
  }
  
  
  
  .container1 {
    height: 500px;
    position: relative;
  }
  
  .contenedor {
    color: white;
    text-align: center;
    margin-top: 50px;
  }
  
  .option1 {
    color: white;
  }
  
  .option1:after {
    position: absolute;
    content: "";
    width: 0;
    height: 100%;
    top: 0;
    left: 0;
    direction: rtl;
    z-index: -1;
    box-shadow: -7px -7px 20px 0px #fff9, -4px -4px 5px 0px #fff9,
      7px 7px 20px 0px #0002, 4px 4px 5px 0px #0001;
    transition: all 0.3s ease;
  }
  .option1:hover {
    color: rgb(194, 194, 194);
  }
  .option1:hover:after {
    left: auto;
    right: 0;
    width: 100%;
  }
  
  
  /* contacte */
  /* form */
  .contact-form {
    margin: auto;
  
    background-color: rgba(0, 0, 0, 0.504);
    min-width: 30%;
    min-height: 60%;
  
    border-radius: 5px;
  
    padding: 15px;
    color: #ffffff;
  }
  
  .inputs {
    background-color: #ededed8b;
  }
  
  /* info contact */
  .contact-info {
    margin: auto;
  
    background-color: rgba(164, 21, 21, 0.682);
    min-width: 30%;
    min-height: 60%;
  
    border-radius: 5px;
  
    padding: 15px;
    color: #ffffff;
  }
  
  .spans{
    color: #000000e1;
    font-size: 20px;
  }
  
  
  
  .image {
    display: block;
    width: 100%;
    height: auto;
  }
  
  .amred {
    margin-bottom: 0;
  }
  
  
  