<h3 class="fill-remaining-space">Nou vehicle</h3>
<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="onSubmit(myForm.value)">
    <div class="form-element">
      <input placeholder="Matricula" formControlName="matricula">
    </div>
    <div class="form-element">
      <input  placeholder="Marca" formControlName="marca">
    </div>
    <div class="form-element">
      <input  placeholder="Model" formControlName="model">
    </div>
    <div class="form-element">
        <input  placeholder="Client_id" formControlName="client_id">
      </div>
    <div class="form-element">
      <button  color="primary" type="submit" class="button">Enviar</button>
    </div>
  </form>
</div>
<div class="alert alert-danger">
    {{ errorMessage }}
</div>