<div class="card">
  <div class="card-header bg-danger text-white text-center">
    <h1>Editar servei</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom" class="form-label">Nom:</label>
        <input id="nom" placeholder="Nom" class="form-control" formControlName="nom">
      </div>
      <br>

      <div class="form-group">
        <label for="preu" class="form-label">Preu:</label>
        <input id="preu" placeholder="Preu" class="form-control" formControlName="preu">
      </div>
      <br>

      <div class="form-group">
        <label for="durada" class="form-label">Durada:</label>
        <input id="durada" placeholder="Durada" class="form-control" formControlName="durada">
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-6">
          <button type="submit" class="btn btn-lg btn-success">Guardar</button>
        </div>
        <div class="col-md-6">
          <button [routerLink]="['/servei-list']" class="btn btn-lg btn-danger">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>