<div class="card">
  <div class="card-header bg-danger text-white text-center">
    <h1>Editar servicio</h1>
  </div>
  <div class="card-body">
    <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="nom" class="form-label">Nombre:</label>
        <input id="nom" placeholder="nombre" class="form-control" formControlName="nom">
      </div>
      <div *ngIf="formErrors['nom'].length > 0" class="alert alert-danger">
        {{formErrors['nom']}}
      </div>
      <br>

      <div class="form-group">
        <label for="preu" class="form-label">Precio:</label>
        <input id="preu" placeholder="precio" class="form-control" formControlName="preu">
      </div>
      <div *ngIf="formErrors['preu'].length > 0" class="alert alert-danger">
        {{formErrors['preu']}}
      </div>
      <br>

      <div class="form-group">
        <label for="durada" class="form-label">Duración:</label>
        <input id="durada" placeholder="duración" class="form-control" formControlName="durada">
      </div>
      <div *ngIf="formErrors['durada'].length > 0" class="alert alert-danger">
        {{formErrors['durada']}}
      </div>
      <br>
      <div class="row text-center">
        <div class="col-md-6">
          <button type="submit" class="btn btn-lg btn-success">Guardar</button>
        </div>
        <div class="col-md-6">
          <button [routerLink]="['/servei-list']" class="btn btn-lg btn-danger">Cancelar</button>
        </div>
      </div>
    </form>
  </div>
</div>