
<style></style>

<!DOCTYPE html>
<html>
  <head>
    <title>Taller Tuku</title>
    <link rel="shortcut icon" href="../assets/img/logo.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="shortcut icon" href="../assets/logo.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=Anton&display=swap"
      rel="stylesheet"
    />


  </head>
  <app-nav-bar [cart]="cart"></app-nav-bar>
  <div class="container">
    <router-outlet ></router-outlet>
  </div>
  <!--(newItemEvent)="addItem($event)" <ul>
    <li *ngFor="let item of items">{{item}}</li>
  </ul> -->
  <app-footer></app-footer>

  
  
    
<!-- <router-outlet></router-outlet> -->
