<!-- navbar -->
<div class="px-3 py-2 text-bg-dark">
    <div class="container">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
      >
        <a
          href="/"
          class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none"
        >
          <img src="../assets/img/logo.png" />
        </a>

        <ul
          class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small"
        >
          <li>
            <a aria-current="page" [routerLink]="['body']" class="nav-link text-white"> Inicio </a>
          </li>
          <li>
            <a aria-current="page" [routerLink]="['servicios']" class="nav-link text-white"> Servicios </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white"> Cita Previa </a>
          </li>
          <li>
            <a href="#" class="nav-link text-white"> Tienda </a>
          </li>
          <li>
            <a aria-current="page" [routerLink]="['contacto']" class="nav-link text-white"> Contacto </a>
          </li>
        </ul>
      </div>
    </div>
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >