<!-- navbar -->
<div class="navbar px-3 py-5 text-bg-dark">
    <div class="container">
        <a href="/" class="d-flex justify-content-center align-items-center  text-white">
            <img src="../assets/img/logo.png" />
        </a>

        <div class="d-flex flex-wrap align-items-center justify-content-center">
            <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                <li>
                    <a routerLink="" class="nav-link text-white" routerLinkActive="active">
                        Inicio
                    </a>
                </li>
                <li>
                    <a routerLink="servicios" class="nav-link text-white" routerLinkActive="active">
                        Servicios
                    </a>
                </li>
                <li>
                    <a routerLink="calendar" class="nav-link text-white" routerLinkActive="active">
                        Calendario
                    </a>
                </li>
                <li>
                    <a routerLink="tienda" class="nav-link text-white" routerLinkActive="active">
                        Tienda
                    </a>
                </li>
                <li>
                    <a routerLink="contacto" class="nav-link text-white" routerLinkActive="active">
                        Cita Previa
                    </a>
                </li>
                <li *ngIf="_isLoggedIn(); else loggedOut">
                    <div class="btn-group">
                        <button class="btn btn-danger btn-primary" routerLink="../perfil-view">{{ username }}</button>
                        <button mat-button [matMenuTriggerFor]="loggedMenu"
                            class="btn btn-danger btn-primary dropdown-toggle dropdown-toggle-split" mdbDropdownToggle
                            aria-expanded="false">
                        </button>

                        <mat-menu #loggedMenu="matMenu" class="dropdown-menu">
                            <a class="dropdown-item" routerLink="../perfil-view">Perfil</a>
                            <a *ngIf="rolUsuari == '1' || rolUsuari == '3'" class="dropdown-item"
                                routerLink="../client-list">Clientes</a>
                            <a class="dropdown-item" routerLink="../vehicle-list">Vehiculos</a>
                            <a *ngIf="rolUsuari == '1' || rolUsuari == '3'" class="dropdown-item"
                                routerLink="../servei-list">Servicios</a>
                            <a *ngIf="rolUsuari == '1'" class="dropdown-item"
                                routerLink="../treballador-list">Trabajadores</a>
                            <a *ngIf="rolUsuari == '1' || rolUsuari == '2' || rolUsuari == '3'" class="dropdown-item"
                                routerLink="../factura-list">Facturas</a>
                            <hr class="dropdown-divider" />
                            <button type="button" (click)="_logout()" class="btn btn-light dropdown-item">
                                LogOut
                            </button>
                        </mat-menu>
                    </div>
                </li>
                <button mat-icon-button [matMenuTriggerFor]="menu" [matBadge]="itemsQuantity"
                    [matBadgeHidden]="!itemsQuantity" matBadgeColor="warn" matBadgeSize="large">
                    <mat-icon>shopping_cart</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <div class="p-3 divide-y divide-solid">
                        <span class="mr-16">{{ itemsQuantity }} Productos</span>
                        <a routerLink="/carrito">Mi Carrito</a>
                    </div>
                    <div *ngIf="cart.items.length" class="py-3">
                        <div *ngFor="let item of cart.items" class="flex justify-between font-light mb-2">
                            {{item.name}} x {{item.quantity}}
                            <span class="font-bold">{{ item.price | currency }}</span>
                        </div>
                        <div class="flex justify-between py-3 font-light">
                            Total:
                            <span class="font-bold">{{ getTotal(cart.items) | currency }}</span>
                        </div>
                    </div>
                    <div class="pt-3 flex justify-between">
                        <button (click)="onClearCart()" class="bg-rose-600 text-white rounded-full w-9 h-9">
                            <mat-icon>remove_shopping_cart</mat-icon>
                        </button>
                        <button routerLink="cart" class="bg-green-600 text-white w-9 h-9">
                            <mat-icon>shopping_cart</mat-icon>
                        </button>
                    </div>
                </mat-menu>
            </ul>
        </div>

        <ng-template #loggedOut>
            <button type="button" class="btn btn-danger" [routerLink]="['login']">
                <!-- (click)="login()" -->
                Inicia sesión
            </button>
        </ng-template>
    </div>
</div>