
.contact-form {
    margin: auto;
  
    background-color: rgba(0, 0, 0, 0.504);
    min-width: 30%;
    min-height: 60%;
  
    border-radius: 5px;
  
    padding: 15px;
    color: #ffffff;
  }
  
  .inputs {
    background-color: #ededed8b;
  }
  

  .contact-info {
    margin: auto;
  
    background-color: rgba(164, 21, 21, 0.682);
    min-width: 30%;
    min-height: 60%;
  
    border-radius: 5px;
  
    padding: 15px;
    color: #ffffff;
  }
  
  .spans{
    color: #000000e1;
    font-size: 20px;
  }
  

  * {
    font-family: "Anton", sans-serif;
    max-width: 100%;
    color: white;
  }

  .container {
    background-color: #212529;

  }

  h1 {
    text-align: center;
    background-color: #212529;
    margin: 0;
  }

  section{
    background-color: #212529;
  }

input{
  background-color: rgb(37, 35, 35);
}

.material-icons{
  font-family: 'Material Icons' !important;
  color: rgb(255, 62, 62);
  transform: scale(2);
}

select {
  background-color: #ededed8b;
  border-radius: 3%;
}

@media (max-width: 988px) {
  
  .contact-info {
    display: none;
  }


}

@media (max-width: 988px){
     .contact-form{
    margin-left: 10px;
  } 
}