<div class="container">
        <div class="row">
            <div class="col-lg-6 col-sm-12 contact-info" style="width: 200px;">
                <h3>Información de contacto</h3>
                <p>
                    <span class="spans">Dirección:</span><br>
                    C/ Sant Josep, nº 12, Barcelona 08001, España<br>
                    Código Postal 08001
                </p>
                <p>
                    <span class="spans">Teléfono:</span><br>
                    +34 637 27 46 00
                </p>
                <p>
                    <span class="spans">Email:</span><br>
                    info.tallertuku@gmail.com
                </p>
                <p>
                    <span class="spans">Horario:</span><br> 
                    Lunes a Sabado: 9h a 21h<br>
                    Domingo: cerrado
                </p>
                <p>
                    <img src="../../assets/img/logo.png" width="40%" height="40%" style="margin-left: 60%;">
                </p>
            </div>

            <div class="col-lg-6 col-sm-12 contact-form">
                <form class="row g-3" [formGroup]="contactForm" enctype="multipart/form-data" (ngSubmit)="EnviarEmail()" onsubmit="reset(); return false;"   
                action="https://formspree.io/f/xayzvrpd"
                method="POST">
                    <div class="col-md-12" >
                        <label for="validationForm" class="form-label">Datos del Vehiculo</label>
                    </div>
                    <div class="col-md-12" >
                        &nbsp; <label for="validationForm" class="form-label">Selecciona un vehiculo : </label> &nbsp;
                        <select formControlName="vehicle" id="vehicle" name="vehicle">
                            <option *ngFor="let vehicle of vehicles" [value]="vehicle.id">
                                {{vehicle.marca}} {{vehicle.model}} {{vehicle.matricula}}
                            </option>
                        </select>
                        &nbsp; <span style="color: rgb(235, 57, 57);" *ngIf="vehicle && vehicle.invalid && vehicle.touched">Selecciona un vehiculo.</span>
                        <br>
                            &nbsp; <span>¿No tienes ningun vehiculo registrado? Añade uno haciendo click
                                    <a class="iconoco" [routerLink]="['../vehicle-list']">
                                        <button mat-icon-button>
                                            <mat-icon>directions_car</mat-icon>
                                            </button>
                                    </a>
                                    </span>
                    </div>
                    <div class="col-md-12">
                        <label for="dataN">Fecha de la cita : </label> &nbsp;
                        <input type="date" formControlName="fecha" name="fecha" id="fecha">  &nbsp;
                        <span style="color: rgb(235, 57, 57);" *ngIf="fecha && fecha.invalid && fecha.touched">Indica la fecha de la cita.</span> 
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Mensaje</label>
                        <input placeholder="Motivo de la cita" type="text" class="form-control inputs" formControlName="motivo" id="motivo">
                        <span style="color: rgb(235, 57, 57);" *ngIf="motivo && motivo.invalid && motivo.touched">Introduce un motivo de la cita. (Ej. Revisión, cambio neumáticos...)</span>
                    </div>
                    <div class="col-md-12">
                        <textarea placeholder="Información adicional..." type="text" class="form-control inputs" formControlName="mensaje" rows="2" spellcheck="false" id="mensaje"></textarea>
                        <span style="color: rgb(235, 57, 57);" *ngIf="mensaje && mensaje.invalid && mensaje.touched">Introduce un mensaje adicional.</span>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-primary bg-danger border-danger" type="submit" value="Enviar" style="margin-left: 90%" name="enviar">
                    </div>
                </form>
            </div>
        </div>


