

<div class="container">


        
        <div class="row">
            <div class="col-lg-6 col-sm-12 contact-info" style="width: 200px;">
                <h3>Información de contacto</h3>
                <p>
                    <span class="spans">Dirección:</span><br>
                    C/ Sant Josep, nº 12, Barcelona, España
                </p>
                <p>
                    <span class="spans">Teléfono:</span><br>
                    +34 637 27 46 00
                </p>
                <p>
                    <span class="spans">Email:</span><br>
                    info@tallertuku.com
                </p>
                <p>
                    <span class="spans">Horario:</span><br> 
                    Lunes a Sabado: 9h a 21h<br>
                    Domingo: cerrado
                </p>
                <p>
                    <img src="../../assets/img/logo.png" width="40%" height="40%" style="margin-left: 60%;">
                </p>
            </div>

            <div class="col-lg-6 col-sm-12 contact-form">
                <form class="row g-3" action="https://mailthis.to/albert1" method="POST" [formGroup]="loginForm" (ngSubmit)="submitForm()"
                enctype="multipart/form-data">
                    <div class="col-md-12" >
                        <label for="validationForm" class="form-label">Tus Datos</label>
                        <input placeholder="Nombre" type="text" class="form-control inputs" id="validationDefault01" formControlName="nombre">
                        <span style="color: rgb(235, 57, 57);" *ngIf="nombre && nombre.invalid && nombre.touched">Introduce un nombre.</span>
                    </div>
                    <div class="col-md-12">
                        <input placeholder="Apellidos" type="text" class="form-control inputs" id="validationDefault02"  formControlName="apellidos" >
                        <span style="color: rgb(235, 57, 57);" *ngIf="apellidos && apellidos.invalid && apellidos.touched">Introduce un apellido.</span>
                    </div>
                    <div class="col-md-12">
                        <div class="input-group">
                            <span class="input-group-text bg-danger text-light" id="inputGroupPrepend2">+34</span>
                            <input placeholder="Teléfono" type="text" class="form-control inputs" id="validationDefaultPhone"
                                aria-describedby="inputGroupPrepend2" formControlName="telefono">
                        </div>
                        <span style="color: rgb(235, 57, 57);" *ngIf="telefono && telefono.invalid && telefono.touched">Introduce un número válido.</span> 
                    </div>
                    <div class="col-md-4">
                        <input placeholder="Población" type="text" class="form-control inputs" id="validationDefault03"  formControlName="poblacion">
                        <span style="color: rgb(235, 57, 57);" *ngIf="poblacion && poblacion.invalid && poblacion.touched">Introduce una población.</span>
                        <br> &nbsp;
                    </div>
                    <div class="col-md-4">
                        <input placeholder="Código Postal" type="text" class="form-control inputs" id="validationDefault05"  formControlName="codigopostal">
                        <span style="color: rgb(235, 57, 57);" *ngIf="codigopostal && codigopostal.invalid && codigopostal.touched">Introduce un código postal válido.</span>
                    </div>
                    <div class="col-md-12">
                        <label for="validationDefault06" class="form-label">Mensaje</label>
                        <textarea placeholder="..." type="text" class="form-control inputs" id="validationDefault06" formControlName="mensaje" rows="2" spellcheck="false"></textarea>
                    </div>
                    <div class="col-12">
                        <input class="btn btn-primary bg-danger border-danger" type="submit" value="Enviar" style="margin-left: 90%">
                    </div>
                </form>
            </div>
        </div>
