<h1>Panel de Control</h1>
<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container">
        <div class="row">


            <h2>Clientes</h2>
            <a [routerLink]="['../client-list']"> Lista</a>
            <a [routerLink]="['../client-list']"> Crear*</a>
            <a [routerLink]="['../client-list']"> Modificar*</a>
            <a [routerLink]="['../client-list']"> Eliminar*</a>

            <br>
            <h2>Vehiculos</h2>
            <br>
            <a [routerLink]="['../vehicle-list']"> Lista</a>
            <a [routerLink]="['../vehicle-form']"> Crear</a>
            <a [routerLink]="['../vehicle-list']"> Editar*</a>
            <a [routerLink]="['../vehicle-list']"> Eliminar*</a>

            <br>
            <h2>Servicios</h2>
            <br>
            <a [routerLink]="['../servei-list']"> Lista</a>
            <a [routerLink]="['../servei-form']"> Crear*</a>
            <a [routerLink]="['../vehicle-list']"> Editar*</a>
            <a [routerLink]="['../vehicle-list']"> Eliminar*</a>

            <br>
            <h2>Citas</h2>
            <br>
            <a [routerLink]="['../vehicle-list']"> Lista*</a>
            <a [routerLink]="['../vehicle-form']"> Crear*</a>
            <a [routerLink]="['../vehicle-list']"> Editar*</a>
            <a [routerLink]="['../vehicle-list']"> Eliminar*</a>




        </div>
    </div>