<h1>Panel de Control</h1>
<section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="container">
        <div class="row">


           
            <a [routerLink]="['../client-list']">  <h2>Clientes</h2></a>
   

            <br>
            

            <a [routerLink]="['../vehicle-list']"> <h2>Vehiculos</h2></a>
      

            <br>
           

            <a [routerLink]="['../servei-list']">  <h2>Servicios</h2></a>

 
            <br>
            
            <a [routerLink]="['../cita-list']"> <h2>Citas</h2></a>

            <br>
            
            <a [routerLink]="['../treballador-list']"> <h2>Treballador</h2></a>

            <a [routerLink]="['../factura-list']"> <h2>Factura</h2></a>




        </div>
    </div>