<body class="text-light bg-dark">

	<div class="grid grid-cols-3 gap-4" style="text-align: center; margin-left: 60px;">
		<div class="col-sm">
			<a aria-current="page" [routerLink]="['../pack1']"><img src="../../assets/img/pack1.jpeg" width="400px" height="600px" style="text-align: center; margin-left: 50px;">
				<br>
				<button class="option1">Pack mantenimiento básico</button></a>
		</div>
		<div class="col-sm">
			<a aria-current="page" [routerLink]="['../pack2']"><img src="../../assets/img/pack2.jpeg" width="400px" height="600px" style="text-align: center; margin-left: 50px;">
				<br>
				<button class="option1">Pack revisión premium</button>
			</a>
		</div>
		<div class="col-sm">
			<a aria-current="page" [routerLink]="['../pack3']"><img src="../../assets/img/pack3.jpeg" width="400px" height="600px" style="text-align: center; margin-left: 50px;">
				<br>
				<button class="option1">Revisión previa ITV</button>
			</a>
		</div>
	</div>



</body>