<body class="text-light bg-dark">


	<h1>Nuestros servicios</h1><br>

	<div class="row" style="text-align: center; max-width: 100%;">
		<div class="col-sm">
			<a href="#"><img src="../../assets/img/pack1.jpeg" width="400px" height="600px">
				<button class="option1" onclick="audio.play()">Pack mantenimiento básico</button></a>
		</div>
		<div class="col-sm">
			<a href=""><img src="../../assets/img/pack2.jpeg" width="400px" height="600px">

				<button class="option1" onclick="audio.play()">Pack revisión premium</button>
			</a>
		</div>
		<div class="col-sm">
			<a href=""><img src="../../assets/img/pack3.jpeg" width="400px" height="600px">

				<button class="option1" onclick="audio.play()">Revisión previa ITV</button>
			</a>

		</div>
	</div>
	<script type="text/javascript">
		const audio = new Audio();
		audio.src = "audio.wav";
	</script>



</body>