  <!-- Footer -->
  <footer class="text-light bg-dark">
    <!-- Section: Social media -->
    <section
      class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom"
    >
   
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto d-flex justify-content-center align-items-center mb-4">
            <!-- Content -->
              <img src="../../assets/img/logo.png" width="70%" />
          </div>

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Menu</h6>
            <p>
              <a aria-current="page" [routerLink]="['tienda']"  class="text-reset">Tienda</a>
            </p>
            <p>
              <a aria-current="page" [routerLink]="['calendar']"  class="text-reset">Reservar cita</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Política de cookies</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Política de privacidad</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contacto</h6>
            <p><i class="fas fa-home me-3"></i> Barcelona, 08001 , ES</p>
            <p>
              <i class="fas fa-envelope me-3"></i>
              info@tallertuku.com
            </p>
            <p><i class="fas fa-phone me-3"></i> + 32 333 333 33</p>
            <p><i class="fas fa-print me-3"></i> + 32 333 333 33</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © 2023 Copyright:
      <a class="text-reset fw-bold" href=""
        >Tallertuku.com</a
      >
    </div>
    <!-- Copyright -->
  </footer>