<div class="col-md-6 offset-md-3 mt-5 mb-5">
    <!-- <div *ngIf="success" class="alert alert-info">
        {{success}}
    </div> -->
    <div class="card">
        <h4 class="card-header py-3">Cambiar contraseña</h4>
        <div class="card-body">
            <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit(resetPasswordForm.value)">
                <div class="mb-3">
                    <label class="form-label">Correo electrónico</label>
                    <input type="email" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['email'].errors }" required/>
                    <div *ngIf="formErrors['email'].length > 0" class="invalid-feedback">
                        {{formErrors['email']}}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Contraseña</label>
                    <input type="password" formControlName="password" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password'].errors }" required/>
                    <div *ngIf="formErrors['password'].length > 0" class="invalid-feedback">
                        {{formErrors['password']}}
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label">Confirmar contraseña </label>
                    <input type="password" formControlName="password_confirmation" class="form-control" [ngClass]="{ 'is-invalid': submitted && f['password_confirmation'].errors }" required/>
                    <div *ngIf="formErrors['password_confirmation'].length > 0" class="invalid-feedback">
                        {{formErrors['password_confirmation']}}
                    </div>
                </div>

                <button type="submit" [disabled]="loading" class="btn btn-primary btn-danger">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Cambiar contraseña
                </button>
                <div *ngIf="error" class="alert alert-danger mt-3 mb-2">{{error}}</div>
            </form>
        </div>
    </div>
</div>