<div class="row" style="text-align: center; max-width: 100%;">
    <div class="col-sm-6">
        <img src="../../assets/img/pack3.jpeg" width="400px" height="700px" style="margin-left: 20%;" class="responsive-image">
    </div>
    <div class="col-sm-6" style="text-align: center; margin-top: 5%;">
        <h1>Pack revisión ITV </h1>
        La Inspección Técnica de Vehículos (ITV) es un paso obligatorio para garantizar la seguridad y el cumplimiento de las normativas de circulación. En nuestro taller mecánico, 
        comprendemos la importancia de superar la ITV sin problemas y hemos diseñado un Pack de Revisión Previa a la ITV para asegurarnos de que tu vehículo esté en las mejores 
        condiciones posibles antes de la inspección.<br>
        <a aria-current="page" [routerLink]="['../contacto']"><button type="button" class="btn btn-lg btn-outline-danger" style="margin-top: 5%;">Pedir cita ya</button></a>
    </div>
</div>