<div class="row" style="text-align: center; max-width: 100%;">
    <div class="col-sm-6">
        <img src="../../assets/img/pack2.jpeg" width="400px" height="700px" style="margin-left: 20%;" class="responsive-image">
    </div>
    <div class="col-sm-6" style="text-align: center; margin-top: 5%;">
        <h1>Pack mantenimiento premium</h1>
        En un mundo donde nuestros vehículos son una parte esencial de nuestras vidas, es fundamental contar con un mantenimiento adecuado para garantizar su rendimiento óptimo y 
        prolongar su vida útil. El Pack de Mantenimiento Premium de nuestro taller mecánico es la opción perfecta para aquellos propietarios de automóviles que desean brindar a sus 
        vehículos un servicio de primera clase y cuidado integral.<br>
        <a aria-current="page" [routerLink]="['../contacto']"><button type="button" class="btn btn-lg btn-outline-danger" style="margin-top: 5%;">Pedir cita ya</button></a>
    </div>
</div>