<div class="panel panel-primary">
  <div class="panel-heading text-center">
    <h1>{{titolLlistat}}</h1>
  </div>
  <!-- caixa de filtrat -->
  <div class="row section text-center">
    <div class="col-md-6">
      <label>Buscar: </label>
      <input type="text" placeholder="Matricula, Modelo, Cliente" [(ngModel)]="listFilter">
    </div>
    <div class="col-md-6">
      <button [routerLink]="['../vehicle-form/']" class="btn btn-crear btn-success">Crear</button>
    </div>
  </div>
  <!-- fi caixa filtrat -->
  <div *ngIf="vehicles.length==0">
    <h4>No hay vehiculos</h4>
  </div>
  <div *ngIf="vehicles.length>0" class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Id</th>
          <th>Matricula</th>
          <th>Marca</th>
          <th>Modelo</th>
          <th>Km</th>
          <th>Cliente</th>
          <th *ngIf="rol == '1' || rol == '3' "></th>
          <th *ngIf="rol == '1'"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let vehicle of vehicles | vehicleListFilter:listFilter">
          <td>{{vehicle.id}}</td>
          <td>{{vehicle.matricula}}</td>
          <td>{{vehicle.marca}}</td>
          <td>{{vehicle.model}}</td>
          <td>{{vehicle.km}}</td>
          <td>{{vehicle.client.nom}} {{vehicle.client.cognoms}}</td>
          <td *ngIf="rol == '1' || rol == '3' "><a [routerLink]="['../vehicle-form-edit/'+vehicle.id]">Editar</a></td>
          <td *ngIf="rol == '1'"><a href="" (click)="eliminarVehicle(vehicle.id)">Eliminar</a></td>
        
        </tr>
      </tbody>
    </table>
  </div>
</div>