<form [formGroup]="myForm" (ngSubmit)="submitFormulario()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Email address</label>
        <input formControlName="email" [class.is-invalid]="f.email.errors && f.email.touched" type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
        <div id="validateMail" class="invalid-feedback">
            Email invalid
        </div>
    </div>
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Password</label>
        <input formControlName="password" [class.is-invalid]="f.password.errors && f.password.touched" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Password">
        <div id="validatePassword" class="invalid-feedback">
            Password invalid
        </div>
    </div>
    <div class="mb-3">
        <button class="btn btn-success">Log In</button>
    </div>
</form>