<div class="row" style="text-align: center; max-width: 100%;">
    <div class="col-sm-6">
        <img src="../img/pack1.jpeg">
    </div>
    <div class="col-sm-6" style="text-align: center; margin-top: 5%;">
        <h1>Pack mantenimiento básico</h1>
        Pack pensado para gente que quiere realizar una puesta a punto de su vehiculo. 
        Es ideal para saber el estado en el que se encuentra tu vehículo y te ayudará 
        a prevenir posibles incidencias antes de salir de viaje. <br>
        <a href="../contact.html"><button type="button" class="btn btn-lg btn-outline-danger" style="margin-top: 5%;">Pedir cita ya</button></a>
    </div>
</div>